<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793656763682-got7iicka0bshjeto5lnpfit9m15nl1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793656763682-got7iicka0bshjeto5lnpfit9m15nl1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793656763682-blansdokg695cekc97ei9c87u11r1ct6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkeiATyIb-f2HILgjSE4tuzJDDoWLkcdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793656763682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odelan.yang.aggone.new</string>
	<key>PROJECT_ID</key>
	<string>aggone-25eb2</string>
	<key>STORAGE_BUCKET</key>
	<string>aggone-25eb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793656763682:ios:304ba37783ca6f00</string>
	<key>DATABASE_URL</key>
	<string>https://aggone-25eb2.firebaseio.com</string>
</dict>
</plist>